.form-wrapper {
    margin: -5em auto 0 auto;
    border: 1px solid #35383d;
    border-radius: 1em;
    text-align: center;
    width: 40em;
    -webkit-box-shadow: 0px 0px 85px -35px rgba(53,56,61,1);
    -moz-box-shadow: 0px 0px 85px -35px rgba(53,56,61,1);
    box-shadow: 0px 0px 85px -35px rgba(53,56,61,1);
}

.form-wrapper h1 {
    margin: 1em 0;
    font-size: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto 3em auto;
}

.help-text {
    text-align: left;
    margin-bottom: 0.75em;
    font-size: 1.2em;
}

.form input, textarea {
    background-color: transparent;
    border: 1px solid #35383d;
    border-radius: 0.25em;
    color: #EEEEEE;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1.5em;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
}

.form textarea {
    max-width: 100%;
    max-height: 10em;
}

.form input:focus {
    border-color: #4ed1d8;
}

.form button {
    background-color: transparent;
    border: 1px solid #4ed1d8;
    border-radius: 0.5em;
    color: #4ed1d8;
    font-family: inherit;
    font-size: 1.25rem;
    padding: 0.75rem;
    margin: 1em 0;
    transition: background-color 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 61px -24px rgba(78,209,216,1);
    -moz-box-shadow: 0px 0px 61px -24px rgba(78,209,216,1);
    box-shadow: 0px 0px 61px -17px rgba(78,209,216,1);
}

.form button:hover {
    background-color: #171b21;
}

.form div {
    display: flex;
}

.form div input:nth-child(1) {
    margin-right: 0.5em;
}

.form div input:nth-child(2) {
    margin-left: 0.5em;
}

.form input[type="file"]::file-selector-button {
    background-color: transparent;
    border: 1px solid #35383d;
    border-radius: 0.5em;
    color: #EEEEEE;
    font-family: inherit;
    font-size: 1.25rem;
    padding: 0.75rem;
    margin-right: 1em;
    cursor: pointer;
}

