.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #35383d;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: rgba(14, 16, 20, 0.3);
    backdrop-filter: blur(10px);
}

.logo-container .logo {
    width: 4em;
    height: auto;
    margin-left: 2em;
}

.profile-icon-container {
    margin: auto 3em auto 0;
}

.profile-icon {
    width: 3em;
    height: auto;
    border-radius: 50%;
    border: 1px solid #35383d;
}

.search-container {
    margin: auto 0;
    border: 1px solid #35383d;;
    display: flex;
    flex-direction: row;
    border-radius: 1em;
}

.search-input {
    border: none;
    background-color: transparent;
    padding-left: 1em;
    color: #EEEEEE;
}

.search-button {
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    margin-right: 0.25em;
}

.centered-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.page-content {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #35383d;
    border-right: 1px solid #35383d;
    min-width: 50%;
    height: auto;
    margin-top: 4em;
}