.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #35383d;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: rgba(14, 16, 20, 0.3);
    backdrop-filter: blur(10px);
}

.logo-container {
    width: fit-content;
    margin: 0 auto;
}

.logo-container .logo {
    width: 4em;
    height: auto;
}

.page-content {
    margin: 7em 3em 0 3em;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #35383d;
    border-radius: 1em;
}
