.profile-wrapper {
    display: flex;
    border-bottom: 1px solid #35383d;
    padding: 2em;
    min-height: 20em;
    overflow: hidden;
}

.profile-pic {
    width: 14em;
    height: 14em;
    border-radius: 50%;
    border: 1px solid #35383d;
    object-fit: cover;
    clip-path: circle(50%);
}

.profile-info {
    display: flex;
}

.profile-info .names-and-bio {
    margin: 0 5em;
}

#username {
    color: #9da1a8;
    font-weight: 400;
}

.names-and-bio .bio {
    margin-top: 1em;
    max-width: 30em;
    max-height: 7em;
    overflow: hidden;
    font-weight: 300;
}

.social-metrics {
    margin-left: auto;
    text-align: right;
}

.social-metrics * {
    margin-bottom: 1em;
}

.social-metrics a {
    color: #EEEEEE;
}

.metrics-type {
    color: #9da1a8;
    font-weight: 300;
}

.posts {
    margin-bottom: 2em;
}

.follow-button {
    background-color: #EEEEEE;
    color: #0e1014;
    border: none;
    font-size: 1.1rem;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-family: inherit;
    font-weight: 600;
    margin-top: 0.5em;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.follow-button:hover {
    background-color: #c4c2c2;
}

.settings-button a, .create-post-button a {
    color: #EEEEEE;
}

.settings-button:hover, .create-post-button:hover {
    border-color: #4ed1d8;
    -webkit-box-shadow: 0px 0px 61px -17px rgba(78,209,216,1);
    -moz-box-shadow: 0px 0px 61px -17px rgba(78,209,216,1);
    box-shadow: 0px 0px 61px -17px rgba(78,209,216,1);
}

.unfollow-button, .settings-button, .create-post-button {
    background-color: #0e1014;
    color: #EEEEEE;
    border: 1px solid #35383d;
    font-size: 1.1rem;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-family: inherit;
    font-weight: 600;
    margin-top: 0.5em;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.unfollow-button:hover {
    border-color: #9e0e10;
    color: #ed2024;
}

.create-post-button {
    display: block;
    text-align: center;
    margin: 2em;
}

.settings-button, .create-post-button {
    -webkit-box-shadow: 0px 0px 85px -17px rgba(53,56,61,1);
    -moz-box-shadow: 0px 0px 85px -35px rgba(53,56,61,1);
    box-shadow: 0px 0px 85px -17px rgba(53,56,61,1);
    transition: all 0.3s ease-in-out;
}

.profile-posts-container > h3, .home-page-posts > h3 {
    margin: 1em;
    text-align: center;
    color: #35383d;
    font-weight: 300;
}

.go-back-button {
    height: fit-content;
    width: fit-content;
    background: none;
    border: 1px solid #35383d;
    border-radius: 50%;
    padding: 1em;
    transition: background-color 0.3s ease-in-out;
}

.go-back-button:hover {
    background-color: #171b21;
}

h1 .go-back-button {
    margin-right: 2em;
}