.settings-page-wrapper h1 {
    padding: 1em;
    border-bottom: 1px solid #35383d;
}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2em;
}

.setting {
    color: #EEEEEE;
    font-size: 1.25rem;
    font-family: inherit;
    background-color: #0e1014;
    border: 1px solid #35383d;
    font-weight: 300;
    padding: 1.5em;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 85px -40px rgba(53,56,61,1);
    -moz-box-shadow: 0px 0px 85px -40px rgba(53,56,61,1);
    box-shadow: 0px 0px 85px -40px rgba(53,56,61,1);
}

.setting:hover {
    border-color: #4ed1d8;
    -webkit-box-shadow: 0px 0px 61px -17px rgba(78,209,216,1);
    -moz-box-shadow: 0px 0px 61px -17px rgba(78,209,216,1);
    box-shadow: 0px 0px 61px -17px rgba(78,209,216,1);
}
