{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="{% static 'css/no-profile-styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <title>Social Snap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header>
    <nav class="navbar">
        <div class="logo-container">
            <a href="{% url 'home page' %}">
                <img src="{% static 'images/logo.png' %}" alt="Social Snap" class="logo">
            </a>
        </div>
    </nav>
</header>

<main class="page-content">
    <div class="404-content-container" style="text-align: center; margin-top: 20em">
        <h1 style="display: inline-block; color: #4ed1d8; font-family: 'Monoton', cursive; font-size: 10em; font-weight: 100;">404</h1>
        <p style="color: #9da1a8; margin-top: -1em">OOPS! PAGE NOT FOUND</p>
    </div>
</main>

</body>
</html>