{% extends 'base/has-profile-base.html' %}
{% load static %}

{% block page_content %}
    <div class="form-wrapper">
        <h1>Add New Comment</h1>

        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.content }}

            <button type="submit">Add Comment</button>
            <span class="help-text" style="text-align: center;"><a style="color: #EEEEEE;" href="{% url 'view post' post_id %}">Cancel</a></span>
        </form>
    </div>
{% endblock %}
