{% extends 'base/has-profile-base.html' %}
{% load static %}

{% block page_content %}
    <div class="form-wrapper">
        <h1>Change Password</h1>

        <form method="post" class="form">
            {% csrf_token %}

            <span class="help-text">Current Password</span>
            {{ form.current_password }}

            <span class="help-text">New Password</span>
            {{ form.new_password1 }}

            <span class="help-text">Confirm New Password</span>
            {{ form.new_password2 }}

            {% csrf_token %}

            <button type="submit">Change Password</button>
        </form>
    </div>
{% endblock %}
