{% extends 'base/has-profile-base.html' %}
{% load static %}

{% block page_content %}
    <div class="profile-page-container">
        <div class="profile-wrapper">
            <a href="{% url 'home page' %}"><button class="go-back-button"><i class="fa-solid fa-arrow-left fa-lg" style="color: #EEEEEE;"></i></button></a>

            <div class="profile-pic-container">
                {% if profile_pic %}
                    <img src="{{ profile_pic.url }}" alt="pfp" class="profile-pic">
                {% else %}
                    <img src="{% static 'images/default-user-icon.jpg' %}" alt="pfp" class="profile-pic">
                {% endif %}
            </div>

            <div class="profile-info">
                <div class="names-and-bio">
                    <h1 id="names">{{ first_name }} {{ last_name }}</h1>
                    <h3 id="username">@{{ username }}</h3>
                    <p class="bio">
                        {% if bio %}
                            {{ bio }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="social-metrics">
                <h4 class="followers">{{ followers_count }} <span class="metrics-type">Followers</span></h4>
                <h4 class="following">{{ following_count }} <span class="metrics-type">Following</span></h4>
                <h4 class="posts">{{ post_count }} <span class="metrics-type">Posts</span></h4>

                {% if user != request.user %}
                    {% if user.profile in request.user.profile.following.all %}
                        <form action="{% url 'unfollow user' username %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="unfollow-button">Unfollow</button>
                        </form>
                    {% else %}
                        <form action="{% url 'follow user' username %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="follow-button">Follow</button>
                        </form>
                    {% endif %}
                {% else %}
                    <a href="{% url 'settings' %}" class="settings-button">Edit Profile</a>
                {% endif %}
            </div>
        </div>

        <div class="profile-posts-container">
            {% if user == request.user %}
                <a class="create-post-button" href="{% url 'create post' username %}">Create Post</a>
            {% endif %}

            {% if not posts %}
                <h3>No posts to show</h3>
            {% else %}

                <ul type="none" class="profile-posts">

                {% for post in posts %}
                    <li class="post">
                        <div class="creator-info">
                            <div class="creator-picture-and-names">
                                {% if post.creator.profile.profile_picture %}
                                    <img src="{{ post.creator.profile.profile_picture.url }}" alt="pfp" class="creator-profile-pic">
                                {% else %}
                                    <img src="{% static 'images/default-user-icon.jpg' %}" alt="pfp" class="creator-profile-pic">
                                {% endif %}

                                <div class="creator-names-and-username">
                                    <h3 class="creator-names">{{ post.creator.first_name }} {{ post.creator.last_name }}</h3>
                                    <p class="creator-username">@{{ post.creator.username }}</p>
                                </div>
                            </div>

                            <a style="color: #EEEEEE; height: fit-content; padding: 1em" href="{% url 'edit post' post.id %}"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></a>
                        </div>

                        <div class="post-content">
                            <h3 class="post-caption">{{ post.content }}</h3>

                        {% if post.image %}
                            <img class="post-image" src="{{ post.image.url }}" alt="Post Image">
                        {% endif %}
                        </div>

                       <div class="post-info">
                            <form method="post" action="{% url 'like post' post.id %}">
                                {% csrf_token %}
                                <button class="like-button {% if user in post.likes.all %}active{% endif %}" data-post-id="{{ post.id }}">
                                    <span class="liked"><i class="fa-solid fa-heart"></i></span>
                                    <span class="likes-count"> {{ post.likes.count }}</span>
                                    <span>Likes</span>
                                </button>
                            </form>

                            <div class="post-date-container">
                                <span class="post-date">{{ post.created_at }}</span>
                            </div>
                       </div>

                    </li>
            {% endfor %}
        </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
